.header {
    width: 100%;
    height: 60px;

    background-color: transparent;
}

.header__wrap {
    width: 100%;
    height: 62px;
    position: fixed;

    padding: 0 300px;
    z-index: 99;

    border-bottom: 1px solid #f5f5f5;
}

.header__content__wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    background-color: inherit;
}

.header__content__wrap > li {
    margin-left: 24px;
    width: auto;
}

.header__button__logo {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
}

.header__logo__image {
    width: 151px;
    height: 29px;
    margin: 0px 15px 0px 0px;
    background: url('/static/images/logo.svg') no-repeat 10px 10px;
}

/* .header__button__logo > img {
    width: 151px;
    height: 29px;
    margin: 0px 15px 0px 0px;
} */

.header__button__movie {
    background: none;
    padding: 0;
    margin: 0;
    border: none;

    cursor: pointer;

    color: #353535;
    font-size: 15px;

    letter-spacing: -0.3px;
}

.header__button__drama {
    background: none;
    padding: 0;
    margin: 0;
    border: none;

    cursor: pointer;

    color: #353535;
    font-size: 15px;

    letter-spacing: -0.3px;
}

.header__button__book {
    background: none;
    padding: 0;
    margin: 0;
    border: none;

    cursor: pointer;

    color: #353535;
    font-size: 15px;

    letter-spacing: -0.3px;
}

.header__button__login {
    background: none;
    padding: 0;
    margin: 0;
    border: none;

    cursor: pointer;

    color: #353535;
    font-size: 15px;

    letter-spacing: -0.3px;
}

.header__button__login,
.header__button__signup,
.username,
.logout {
    background: none;
    padding: 0;
    margin: 0;
    border: none;

    cursor: pointer;

    color: #353535;
    font-size: 15px;

    letter-spacing: -0.3px;
}

.input__wrap {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input__wrap form {
    width: 100%;
    height: 38px;
}

.input__wrap form label {
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    padding: 7px 10px 8px 36px;
    border-radius: 2px;
    background: #f5f5f7 url('/static/images/input-img.svg') no-repeat 10px 10px;
}

.input__wrap form label input {
    /* font-size: 14px; */
    font-weight: 400;
    -webkit-letter-spacing: -0.3px;
    -moz-letter-spacing: -0.3px;
    -ms-letter-spacing: -0.3px;
    letter-spacing: -0.3px;
    line-height: 23px;
    background: transparent;
    width: 100%;
    padding: 0;
    padding-bottom: 1px;
    border: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    caret-color: #353535;
}

.input__clear {
    display: none;
    -webkit-box-align: center;
    align-items: center;
    width: 22px;
    height: 100%;
}

@media (min-width: 860px) {
    .input__clear {
        display: inline-flex;
    }
}

.input__clear__button {
    display: inline-block;
    background: url('/static/images/input-clear-img.svg') no-repeat center;
    background-size: cover;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.auth-items {
	display: flex;
	padding-left: 10px;
	width: 120px;
	justify-content: space-between;
}

