.mainList {
    width: 100%;
    height: 566px;
    margin: 0 auto;
}

.mainList__slide__wrapper {
    position: relative;
    width: 1240px;
    height: 510px;
    margin: 0 auto;
    overflow: hidden;
}

.mainList__title {
    height: 40px;
    margin: 40px 60px 10px 60px;
    padding-left: 240px;
    color: #292a32;
    overflow: hidden;
    font-size: 22px;
    font-weight: 700;
}

.mainList__items {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    transition: left 0.5s ease-out;
}

.mainList__item {
    float: left;
    margin-right: 8px;
    cursor: pointer;
}

.mainList__item__image {
    width: 240px;
    height: 350px;
    border: 1px solid #eae9e8;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.mainList__item__image > img {
    width: 100%;
    height: 100%;
}

.mainList__item__number {
    position: relative;
    bottom: 345px;
    left: 5px;
    width: 28px;
    height: 28px;
    line-height: 27px;
    font-size: 16px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.77);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 4px;
    opacity: 1;
}

.mainList__item__description {
	position: relative;
	bottom: 30px;
    text-align: left;
    width: calc(100% - 10px);
    margin: 5px 10px 0 0;
}

.item__title {
    color: #292a32;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 3px;
}

.item__year__country {
    color: #292a32;
    padding-bottom: 1px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.prev {
    position: absolute;
    top: 330px;
    left: 320px;
    z-index: 1;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid rgb(249, 249, 249);
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 4px 0px;
    background-size: 12px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    transition: opacity 300ms ease 0s;
}

.next {
    position: absolute;
    top: 330px;
    right: 320px;
    z-index: 1;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid rgb(249, 249, 249);
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 4px 0px;
    background-size: 12px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    transition: opacity 300ms ease 0s;
}
