*{
    padding: 0;
    margin: 0;
    border: none;
}
#id {
    width: 500px;
    height: 800px;
}

.signup__main__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.signup__main__title {
    font-size: 20px;
    padding-top: 20px;
}


.login__wrapper{
    width: 400px;
    height: 300px;
    padding: 30px;
    box-sizing: border-box;
}

#login__form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#login__form > input::placeholder{
    color: #D2D2D2;
}
#login__form > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: rgb(236, 44, 79);
    margin-top: 20px;
}



.singup__login__question {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 350px;
    height: 30px;
    padding-bottom: 10px;
}

.signup__check {
    font-size: 15px;
    color: gray;
}

.login__check {
    text-decoration: none;
    font-size: 13px;
    color: red;
}

.signup__crossline {
    width: 400px;
    height: 10px;
    border-bottom: 1px solid gray;
}


.signup__crossline__or {
    text-align: center;
    width: 80px;
    height: 20px;
    background-color: white;
    border: 1px solid white;
    position: absolute;
    left: 48%;
}



.oAuth__logo__inner__wrap {
    display: flex;
    justify-content: space-between;
    width: 390px;
    height: 70px;
    padding-top: 30px;
}




.oAuth__kakao
{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(239, 243, 6);
}
.oAuth__google
{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #e9e4e4;
}
.oAuth__twitter
{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(41, 137, 233);
}
.oAuth__line
{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(136, 239, 134, 0.76);
}
.oAuth__facebook
{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(14, 69, 222);
}

.oAuth__login__img
{
    position: absolute;
    top: 12px;
    left: 12px;
    width: 60%;
    height: 60%;
    object-fit: cover;
}