<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/adminPage.css" />
        <title>Document</title>
    </head>
    <body>
        <div id="container">
            <header class="admin__header">
                <div class="admin__title">Admin</div>
                <ul class="admin__lists">
                    <li class="admin__movie">Movie</li>
                    <li class="admin__drama">Drama</li>
                    <li class="admin__book">Book</li>
                    <li class="admin__user">User</li>
                </ul>
            </header>
            <section class="admin__contents___wrap">
	            <article>
	            	<table class="contents__list">
	            		<thead>
	            			<tr class="contents__list__header">
	            				<th>번호</th>
	            				<th>제목</th>
	            				<th>장르</th>
	            				<th>국가</th>
	            				<th>년도</th>
	            			</tr>
	            		</thead>
	            		<tbody>
	            			<tr class="contents__row">
	            				<td>1</td>
	            				<td>영화는 영화다</td>
	            				<td>드라마</td>
	            				<td>한국</td>
	            				<td>2022</td>
	            			</tr>
	            		</tbody>
	            	</table>
	            </article>
            </section>
        </div>
    </body>
</html>
