<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/adminPage.css" />
        <title>Document</title>
    </head>
    <body>
        <div id="container">
            <header class="admin__header">
                <div class="admin__title">Admin</div>
                <ul class="admin__lists">
                    <li class="admin__movie">Movie</li>
                    <li class="admin__drama">Drama</li>
                    <li class="admin__book">Book</li>
                    <li class="admin__user">User</li>
                </ul>
            </header>
            <section class="admin__contents___wrap">
                <div>데이터 보여주는 곳</div>
            </section>
        </div>
    </body>
</html>
