<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
<!-- 
<script src="https://kit.fontawesome.com/0f941af2a1.js" crossorigin="anonymous"></script>
 -->
<script src="https://kit.fontawesome.com/0f941af2a1.js" ></script>
<link rel="stylesheet" href="/static/css/detail.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/header.css" />
<link rel="stylesheet" href="/static/css/footer.css" />
<title>Insert title here</title>
</head>
<body>
	<th:block th:replace="/fragments/header"></th:block>
	<div id="wrap">
		<header class="headerBody">
			<section class="main__header">
				<div class="top__header">
					<div class="test">
						<!-- <img class="top__image" src="/static/images/cs2__1.jpg" alt="">  -->
					</div>
				</div>
				<div class="bottom__detail">
					<div class="content__header__description">

						<div class="header__description__poster">
							<!--   <img src="/static/images/cs2__1.jpg" alt="" /> -->
						</div>
						<div class="header__description__detail">
							<!-- 
                            <h1 class="description__detail__title">공조2 : 인터내셔날</h1>
                            <div class="description__detail__info">2022 • 액션/코미디 • 한국 </div>
                            <div class="description__detail__rate">
                                <em>예상★4.0</em> &nbsp; 평균★2.9 (3,564명)
                            </div>
                             -->
						</div>
						<div class="header__description__utils">
							<div class="rate">
								<div class="rate__comment">평가하기</div>
								<form name="myform" id="myform" method="post" action="./save">
									<fieldset>
										<label for="rate1"><i class="fa-solid fa-star"></i></label><input type="radio" name="rating" value="5" id="rate1" /> <label for="rate2"><i
											class="fa-solid fa-star"></i></label><input type="radio" name="rating" value="4" id="rate2" /> <label for="rate3"><i class="fa-solid fa-star"></i></label><input
											type="radio" name="rating" value="3" id="rate3" /> <label for="rate4"><i class="fa-solid fa-star"></i></label><input type="radio" name="rating"
											value="2" id="rate4" /> <label for="rate5"><i class="fa-solid fa-star"></i></label><input type="radio" name="rating" value="1" id="rate5" />
									</fieldset>
								</form>
							</div>

							<div class="description__utils__buttons">
								<div class="wish__check__button">
									<label class="wish__check__icon"> <input type="checkbox" id="wish__check" class="wish__check" /> <span class="wish__check__body"> <i></i>
									</span>
									</label>
								</div>

								<label class="wish__check__title" for="wish__check">보고싶어요</label>
								<!--  
                                    <input type="checkbox" id="wish__check" class="wish__button" />
                                        <label for="wish__check">보고싶어요</label>
                                    -->

								<button class="comment__button">
									<i class="fa-solid fa-pencil"></i> <span>코멘트</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</header>

		<main class="contentBody">

			<article class="content__body__comment">
				<textarea id="comment" name="comment">
            		
            		</textarea>
				<button class="delete__comment">삭제</button>
				<button class="insert__comment">등록</button>
			</article>

			<article class="contents__body__detail">

			</article>

			<article class="contents__body__association">
				<span class="body__association__title">출연 배우</span>

				<div class="body__association__title__wrap"></div>
			</article>

			<article class="contents__body__comment">
				<div class="body__comment__header">
					<div class="body__comment__description">
						<span class="body__comment__title">코멘트</span>
					</div>
				</div>

				<ul class="drama__comment__wrap">
				
				</ul>
				
			</article>
			<article class="contents__body__similarity">
				<span class="body__similarity__title">비슷한 작품</span>
				<div class="body__similarity__detail__wrap"></div>
			</article>
		</main>
	</div>
	<th:block th:replace="/fragments/footer"></th:block>
</body>
<script src="/static/js/drama-item.js"></script>
</html>
