<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/header.css">
        <link rel="stylesheet" href="/static/css/dramaWishList.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
        <title>Document</title>
    </head>

    <body>
    	<th:block th:replace="fragments/header"></th:block>
    	<div class="wishList__wrap">
	    	<div class="wishList__content">
	    		<h3 class="wishList__title"></h3>	
		    	<ul class="wishList">
		        	<!-- 
		            <li class="wishList__item">
		                <div class="wishList__item__image">
		                    <img src="/static/images/movie/육사오.jpg" alt="" />
		                </div>
		                <div class="wishList__item__description">
		                    <div class="wishList__item__title">Test</div>
		                    <div class="wishList__item__year__country">Test•test</div>
		                </div>
		                 -->
		            </li>
		        </ul>
	    	</div>
        </div>
    </body>
    <script src="/static/js/dramaWish-list.js"></script>
</html>
