<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head"></th:block>
<body>
<th:block th:replace="fragments/header"></th:block>
	<div id="wrap">

		<div class="signIn__main__page">
			<h1 class="signIn__main__title">로그인</h1>

			<div class="login__wrapper">
				<form method="post" action="/auth/signin"  id="login__form">

					<input type="text" name="userEmail" placeholder="이메일"> 
					<input type="password" name="userPassword" placeholder="비밀번호"> 
					<label for="remember-check"> 
						<input type="checkbox"id="remember__check">&nbsp;아이디 저장하기
					</label> 
					<button class="signInButton" type="submit">로그인</button>
				</form>
			</div>
			
			<div class="singup__login__question">
	            <div>
	                <span class="signup__check">아직 가입 안하셨나요?</span>
	                <a href="/signup" class="signup__connection">회원가입</a>
	            </div>
        	</div>

			<div class="signIn__crossline">
				<div class="signIn__crossline__or">OR</div>
			</div>
			<div class="oAuth__logo__inner__wrap">
				<div>
					<div class="oAuth__kakao">
						<button type="button" onclick="location.href='/oauth2/authorization/kakao'">
						 <img class="oAuth__login__img" src="/static/images/sign/oauth-kakao.svg">
						</button>
					</div>
				</div>
				<div>
					<div class="oAuth__google">
						<button type="button" onclick="location.href='/oauth2/authorization/google'">
							<img class="oAuth__login__img" src="/static/images/sign/oauth-google.svg">
						</button>
					</div>
				</div>
				
				<div>
					<div class="oAuth__naver">
						<button type="button" onclick="location.href='/oauth2/authorization/naver'">
							<img class="oAuth__login__img" src="/static/images/sign/oauth-naver.png">
						</button>
					</div>
				</div>
				<div>
					<div class="oAuth__facebook">
						<button type="button" onclick="location.href='/oauth2/authorization/facebook'">
						 <img class="oAuth__login__img" src="/static/images/sign/oauth-facebook.svg">
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
<th:block th:replace="fragments/footer"></th:block>
</body>
<script src="/static/js/signin.js"></script>
</html>