<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://kit.fontawesome.com/0f941af2a1.js" ></script>
        <link rel="stylesheet" href="/static/css/detail.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <link rel="stylesheet" href="/static/css/header.css"/>
        <link rel="stylesheet" href="/static/css/footer.css"/>
        <title>Insert title here</title>
    </head>
    <body>
    	<th:block th:replace="fragments/header"></th:block>
        <div id="wrap">
            <header class="headerBody">
                <section class="main__header">
                    <div class="top__header">
                        <div class="test">
                            <!-- <img class="top__image" src="/static/images/cs2__1.jpg" alt="">  -->
                        </div>
                    </div>
                    <div class="bottom__detail">
                        <div class="content__header__description">
                            
                            <div class="header__description__poster">
                                <!--   <img src="/static/images/cs2__1.jpg" alt="" /> -->
                            </div>
                            <div class="header__description__detail">
                                <!-- 
                            <h1 class="description__detail__title">공조2 : 인터내셔날</h1>
                            <div class="description__detail__info">2022 • 액션/코미디 • 한국 </div>
                            <div class="description__detail__rate">
                                <em>예상★4.0</em> &nbsp; 평균★2.9 (3,564명)
                            </div>
                             -->
                            </div>
                            <div class="header__description__utils">
                                <div class="rate">
                                    <div class="rate__comment">평가하기</div>
                                    <form name="myform" id="myform" method="post" action="./save">
                                        <fieldset>
                                            <label for="rate1"><i class="fa-solid fa-star"></i></label
                                            ><input
                                                type="radio"
                                                name="rating"
                                                value="5"
                                                id="rate1"
                                            />
                                            <label for="rate2"><i class="fa-solid fa-star"></i></label
                                            ><input
                                                type="radio"
                                                name="rating"
                                                value="4"
                                                id="rate2"
                                            />
                                            <label for="rate3"><i class="fa-solid fa-star"></i></label
                                            ><input
                                                type="radio"
                                                name="rating"
                                                value="3"
                                                id="rate3"
                                            />
                                            <label for="rate4"><i class="fa-solid fa-star"></i></label
                                            ><input
                                                type="radio"
                                                name="rating"
                                                value="2"
                                                id="rate4"
                                            />
                                            <label for="rate5"><i class="fa-solid fa-star"></i></label
                                            ><input
                                                type="radio"
                                                name="rating"
                                                value="1"
                                                id="rate5"
                                            />
                                        </fieldset>
                                    </form>
                                </div>

                                <div class="description__utils__buttons">
                                    <input type="checkbox" id="wish__check" class="wish__button">
                                        <!-- 
                                        <i class="fa-solid fa-plus"></i>
                                        <span>보고싶어요</span>
                                         -->
                                        <label for="wish__check">보고싶어요</label>
                                    <button class="comment__button">
                                        <i class="fa-solid fa-pencil"></i>
                                        <span>코멘트</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </header>

            <main class="contentBody">
            	<article class="content__body__comment">
            		<textarea id="comment" name="comment">
            		
            		</textarea>
            		<button class="delete__comment">삭제</button>
            		<button class="insert__comment">등록</button>
            	</article>
            	
                <article class="contents__body__detail">
                    <!-- 
                <div class="body__detail__top">
                    <span class="body__detail__name">기본 정보</span>
                    <a href="#" class="body__detail__more">더보기</a>
                </div>
                <div class="body__detail__info">
                    <p>공조2: 인터내셔날</p>        
                    <p>2021 •  한국 • 액션</p>        
                    <p>2시간 9분 • 15세</p>
                </div>
                <p class="body__detail__stroy">
                    공조 이즈 백! 이번엔 삼각 공조다!

                    남한으로 숨어든 글로벌 범죄 조직을 잡기 위해 새로운 공조 수사에 투입된 북한 형사 ‘림철령’(현빈). &nbsp; 수사 중의 실수로 사이버수사대로 전출됐던 남한 형사 ‘강진태 ...</p>    
                --></article>

                <article class="contents__body__association">
                    <span class="body__association__title">출연 배우</span>

                    <div class="body__association__title__wrap">
                    <!-- 
                        <div class="body__association__description__detail">
                            <div class="body__association__description__imagebox">
                                <img
                                    class="body__comment__bottom__image"
                                    src="/static/images/cs2__1.jpg"
                                />
                            </div>
                            <div class="association__description__profile">
                                <h4 class="association__description__profile__name">
                                    조셉 코진스키
                                </h4>
                                <span class="association__description__profile__title">감독</span>
                            </div>
                        </div>

                        <div class="body__association__description__detail">
                            <div class="body__association__description__imagebox">
                                <img
                                    class="body__comment__bottom__image"
                                    src="/static/images/cs2__1.jpg"
                                />
                            </div>
                            <div class="association__description__profile">
                                <h4 class="association__description__profile__name">
                                    조셉 코진스키
                                </h4>
                                <span class="association__description__profile__title">감독</span>
                            </div>
                        </div>

                        <div class="body__association__description__detail">
                            <div class="body__association__description__imagebox">
                                <img
                                    class="body__comment__bottom__image"
                                    src="/static/images/cs2__1.jpg"
                                />
                            </div>
                            <div class="association__description__profile">
                                <h4 class="association__description__profile__name">
                                    조셉 코진스키
                                </h4>
                                <span class="association__description__profile__title">감독</span>
                            </div>
                        </div>

                        <div class="body__association__description__detail">
                            <div class="body__association__description__imagebox">
                                <img
                                    class="body__comment__bottom__image"
                                    src="/static/images/cs2__1.jpg"
                                />
                            </div>
                            <div class="association__description__profile">
                                <h4 class="association__description__profile__name">
                                    조셉 코진스키
                                </h4>
                                <span class="association__description__profile__title">감독</span>
                            </div>
                        </div>
                         -->
                    </div>
                </article>
                <!-- 
                <article class="contents__body__rate">
                    <div class="content__body__head">
                        <span class="body__rate__title">별점 그래프</span>
                        <div class="association__description__profile">
                            <h4>평균 ★4.1</h4>
                            <span class="association__description__numbers">(8만명)</span>
                        </div>
                    </div>
                </article>
				 -->
                <article class="contents__body__comment">
                    <div class="body__comment__header">
                        <div class="body__comment__description">
                            <span class="body__comment__title">코멘트</span>
                        </div>
                    </div>
					<ul class="movie__comment__wrap">
					<!-- 
						<li class="body__comment__bottom">
	                        <div class=".body__comment__bottom__title">
	                            <div class="body__comment__bottom__reviewer">
	                                <div class="comment__bottom__reviewer">
	                                    <div class="body__comment__bottom__imagebox">
	                                        <img
	                                            class="body__comment__bottom__image"
	                                            src="/static/images/cs2__1.jpg"
	                                        />
	                                    </div>
	                                    <div class="body__comment__bottom__person">이동진 평론가</div>
	                                </div>
	                            </div>
	                        </div>
	                        <p class="body__comment__bottom__description">
	                            기계가 인간을 대체해가는 시대에 아직은 어림없다고 외치는 사자후.
	                        </p>
	                    </li>
	                    <li class="body__comment__bottom">
                        	<div class=".body__comment__bottom__title">
                            	<div class="body__comment__bottom__reviewer">
                                	<div class="comment__bottom__reviewer">
                                    	<div class="body__comment__bottom__imagebox">
                                        	<img
                                            	class="body__comment__bottom__image"
                                            	src="/static/images/cs2__1.jpg"
                                        	/>
                                    	</div>
                                    <div class="body__comment__bottom__person">이동진 평론가</div>
                                </div>
                            </div>
                        </div>
                        <p class="body__comment__bottom__description">
                            기계가 인간을 대체해가는 시대에 아직은 어림없다고 외치는 사자후.
                        </p>
                    </li>
                     -->
					</ul>
                    
                    
                </article>
                <article class="contents__body__similarity">
                    <span class="body__similarity__title">비슷한 작품</span>
                    <div class="body__similarity__detail__wrap">
                    
                    </div>
                </article>
            </main>
        </div>
        <th:block th:replace="fragments/footer"></th:block>
    </body>
    <script src="/static/js/movie/movie-item.js"></script>
</html>
